.root {
    -fx-background-color:
        radial-gradient(center 50% 0%, radius 80%, rgba(255,140,200,0.8), transparent),
        radial-gradient(center 0% 100%, radius 80%, rgba(140,220,255,0.8), transparent),
        radial-gradient(center 100% 100%, radius 80%, rgba(255,230,140,0.8), transparent);
}

.card {
    -fx-background-color: rgba(255,255,255,0.95);
    -fx-margin: 30 35 30 35;
    -fx-spacing: 15;

    -fx-background-radius: 20;
    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.15),
        25,
        0,
        0,
        8
    );

}

.title {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #9F72AB;
}

.hint {
    -fx-font-size: 11px;
    -fx-text-fill: #8f7cc4;
}

.text-field, .password-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-background-color: #f4f1fb;
    -fx-border-color: transparent;

    -fx-padding: 15 20;
}

.primary-button {
    -fx-background-color: #AF8FBD;
    -fx-text-fill: white;

    -fx-background-radius: 30;
    -fx-padding: 15 30;

    -fx-font-weight: bold;
    -fx-font-size:15px;
}

.primary-button:hover {
    -fx-background-color: #93689E;
}




